.form-container{
    /* border: 1px solid red; */
    width: 90%;
    height: 400px;
    margin-top: 80px;
    margin-bottom: 80px;
    box-sizing: border-box;
    
}
.header-section
{
    display: grid;
    grid-template-columns: 20% 50% 25%;
    justify-content: space-between;
    box-sizing: border-box;
}
/* .header-section > div{
    border: 1px solid blue; 
     height: 200px;
} */

.proflile-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .proflile-img img {
    width: 100%;
    object-fit: cover;
    opacity: 1;
    display: flex;
    display: block;
    backface-visibility: hidden;
    border: 1px solid white;
    transition: 1s ease;
  }
label[for=upload]{
  display:inline-block;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  font-weight:bold;
  background-color: #04AA6D;
  padding:1vw;
  text-align: center;
  font-size: 1.3vw;
  border: none;
  border-radius:3px;
  cursor:pointer;
  
}
.proflile-img:hover label[for=upload]
{
  visibility: visible;
}
.proflile-img:hover  img
{
  opacity: 0.3;
    border: 1px solid black;
}
label[for=upload] input{ display:none }

  .name-and-tagline
  {
      display: flex;
      justify-content: space-around;
  }
  .name-and-tagline input{
    height: 40px;
    width: 44%;
    padding: 0px 10px;
    font-size: 16px;
}
.name-and-tagline input:nth-child(2)
{
    margin-left: 2%;
}

.basic-input > hr{
    margin: 20px 0px 10px 0px;
}

.social-media-links {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
}
.social-media-links input{
    height: 35px;
    width: 21vw;
    margin-top: 10px;
    font-size: 14px;
    padding: 5px 10px 5px 35px;
    background-size: 20px;
    box-sizing: border-box;
}
  .social-media-links #contact-input
{
    background: url("https://api.iconify.design/fluent/call-20-filled.svg") no-repeat left;
    background-position: 10px;   
}
  .social-media-links #portfolio-url-input
{
    background: url("https://api.iconify.design/maki/suitcase.svg") no-repeat left;
    background-position: 10px;
    
}
  .social-media-links #email-id-input
{
    background: url("https://api.iconify.design/fluent/mail-20-filled.svg") no-repeat left;
    background-position: 10px;   
}

  .social-media-links #linkedin-url-input
{
    background: url("https://api.iconify.design/akar-icons/linkedin-box-fill.svg") no-repeat left;
    background-position: 10px;
    
}
  .social-media-links #address-input
{
    background: url("https://api.iconify.design/carbon/location-filled.svg") no-repeat left;
    background-position: 10px;
    
}
  .social-media-links #github-url-input
{
    background: url("https://api.iconify.design/fa-brands/github-square.svg") no-repeat left;
    background-position: 10px;
    
}
.input2 textarea
{
height: 100%;
width: 100%;
padding: 10px;
font-size: 16px;
box-sizing: border-box;
text-align: justify;
}

.form-container > hr{
    margin: 20px 0px;
}

.footer-section
{
    /* border: 1px solid red; */
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}
.footer-section > div{
    border: 1px solid grey;
    width: 32%;
    border-radius: 5px;
    min-height: 200px;
    padding: 10px;
    box-sizing: border-box;
    background-color:#F8F9FA;
}
.add-btn
{
    float: right;
}
.start-end-date
{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.display-education-cont
{
  margin-top: 50px;
}
.display-education-section
{
  margin-top: 10px;
  text-align: left;
  background-color: aliceblue;
  position: relative;
  padding: 10px;
  padding-right: 30%;
  border: 1px solid grey;
  box-sizing: border-box;
}
.display-education-section p
{
  font-size: 18px !important;
}
.display-education-section p:nth-child(1)
{
  color: navy !important;
  font-weight: bold;
}
.display-education-section p:nth-child(3)
{
  color: grey !important;
  /* font-weight: bold; */
  line-height: 2;
  font-size: 14px !important;
}
.display-education-section span
{
  color: grey !important;
  font-size: 16px !important;
}

.display-project-cont
{
  margin-top: 50px;
}
.display-project-section
{
  margin-top: 10px;
  text-align: left;
  background-color: aliceblue;
  position: relative;
  padding: 10px;
  padding-right: 30%;
  border: 1px solid grey;
  box-sizing: border-box;
}

.display-project-section 
{
  text-align: left !important;
}
.display-project-section .title
{
  font-size: 18px !important;
  color: navy !important;
}
.display-project-section .intro
{
  font-size: 14px !important;
  color: grey !important;
}
.display-project-section p {
  margin-top: 5px;
  line-height: 1.2;
}
.display-project-section .techStacks
{
  margin-bottom: 5px !important;
}
.edit-delete-buttons
{
  float: right;
  position:absolute;
  top: 5%;
  right: 3%;
}

.genrate-resume-btn
{
  width: 50%;
  margin: 20px 0px !important;
  margin: auto;
}
.submit-btn-cont
{
  display: flex;
  justify-content: center;
}

